.reg{
    border: 1px solid #289BDE !important;
    width: 105px !important;
    color: rgb(26, 25, 25);
}

.reg:hover{
    background-color: #289BDE;
    color:  #fff;
}

.alerts{
    border-radius: 0% !important;
}

 .registercom {
    background-color: #289BDE;
 }

 .regbtn{
    color: #289BDE;
 }

@media screen and (min-width: 768px) {
    .nav{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .estab p{
        line-height: 25px;
        width: 60% !important;
    }

    .regbtn{
        width: 200px !important;
        color: #289BDE;
        font-size: 20px;
    }
   
}


@media screen and (max-width:769px) {
    .mainreg {
        bottom: 10px !important;
    }

    .nav{
        display: block !important;
    }
}